<%- include('partials/header') %>

    <h2>Registration Form</h2>

    <form action="/submit" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="date">Date of Birth:</label><br>
        <input type="date" id="date" name="date" required><br><br>

        <input type="submit" value="Submit">
    </form>

    <%- include('partials/footer') %>